### Importing the Necessary Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os
import warnings
warnings.filterwarnings('ignore')

### Path for my Script

In [2]:
sys.path.append(os.path.abspath('../scripts'))

In [3]:
import preprocessor as sa

### Loading the Datasets

In [4]:
train_path = r'C:\Users\Blen\OneDrive\Desktop\10Academy\SalesDataAnalytics\Data\train.csv'
test_path = r'C:\Users\Blen\OneDrive\Desktop\10Academy\SalesDataAnalytics\Data\test.csv'
store_path = r'C:\Users\Blen\OneDrive\Desktop\10Academy\SalesDataAnalytics\Data\store.csv'

In [5]:
train_df, test_df, store_df = sa.load_data(train_path, test_path, store_path)

2024-09-20 17:40:41,208 - INFO - Loaded datastes from file...

### Looking Through the Data

In [6]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [7]:
test_df.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [8]:
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [9]:
store_df.shape

(1115, 10)

In [10]:
train_df.shape

(1017209, 9)

In [11]:
test_df.shape

(41088, 8)

### Checking for Missing Values

In [12]:
sa.missing_values_table(train_df)

2024-09-20 17:40:41,748 - INFO - Displaying Missing Value Percentages for Each Column....

The dataframe has 9columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values, DType]
Index: []

In [13]:
sa.missing_values_table(test_df)

2024-09-20 17:40:41,861 - INFO - Displaying Missing Value Percentages for Each Column....

The dataframe has 8columns.
There are 1 columns that have missing values.

      Missing Values  % of Total Values    DType
Open              11                0.0  float64

In [14]:
sa.missing_values_table(store_df)

2024-09-20 17:40:41,909 - INFO - Displaying Missing Value Percentages for Each Column....

The dataframe has 10columns.
There are 6 columns that have missing values.

                           Missing Values  % of Total Values    DType
Promo2SinceYear                       544               48.8  float64
Promo2SinceWeek                       544               48.8  float64
PromoInterval                         544               48.8   object
CompetitionOpenSinceMonth             354               31.7  float64
CompetitionOpenSinceYear              354               31.7  float64
CompetitionDistance                     3                0.3  float64

###  Handling the Missing Values

#### Replacing the Missng Values with Median

In [15]:
column_to_replace = ['CompetitionDistance']
store_df = sa.handle_missing_values_median(store_df,column_to_replace)

2024-09-20 17:40:41,929 - INFO - Replacing Missing Values with Median....

#### Replacing Missing Values with zero

In [16]:
columns_to_substitute = ['Promo2SinceYear','Promo2SinceWeek','CompetitionOpenSinceMonth','CompetitionOpenSinceYear']
store_df = sa.handle_missing_values_zero(store_df, columns_to_substitute)

2024-09-20 17:40:41,947 - INFO - Replacing missing values with 0....

#### Replacing Missing Values with 'Unknown'

In [18]:
column = ['PromoInterval']
store_df = sa.handle_missing_categorical(store_df, column)

2024-09-20 17:42:14,807 - INFO - Replacing Missing Values with 'Unknown'....

Missing values in categorical column 'PromoInterval' filled with 'Unknown'

#### Checking the Missing Values after the Preprocessing

In [19]:
sa.missing_values_table(store_df)

2024-09-20 17:43:18,285 - INFO - Displaying Missing Value Percentages for Each Column....

The dataframe has 10columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values, DType]
Index: []

In [20]:
store_df.shape

(1115, 10)